// colors

$color-puzzle-field: #a5ca8c;

$color-main: #78c2ad;
$color-second: #78c2ad;
$color-link: #b95438;
$color-link-active: #ffffff;
$color-burger: #000000;
$color-shadow: #000000;
$color-gradient1: #d4fc79;
$color-gradient2: #96e6a1;
$color-play1: #d4fc79;
$color-play2: #ff7851;
$color-border2: #ffffff;

// elements size
$container-size-l: 1020px;

// media
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
