.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 0;
}

.control-difficulty {
  width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltip {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;

  &__btn {
    margin-left: 20px;
    font-size: 2rem;

    &_selected {
      background-color: #a6edfa;
    }
  }

  &__ico {
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &_pronounce {
      background-image: url('./../img/icons/play-solid.svg');
    }

    &_translate {
      background-image: url('./../img/icons/language-solid.svg');
    }

    &_autoplay {
      background-image: url('./../img/icons/music-solid.svg');
    }

    &_image {
      background-image: url('./../img/icons/image-regular.svg');
    }
  }
}
