.game-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #00000067;

  &__hide {
    display: none;
  }
}

.modal__header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;

  &_good {
    color: #00ff22;
  }

  &_bad {
    color: #ff0000;
  }
}

.modal__text {
  text-align: center;
  word-wrap: break-word;
}

.modal-content {
  padding: 5px;
  border-radius: 5px;
  background-color: cornflowerblue;
}
