.start-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;

  text-align: center;

  background: url('./../img/english-puzzle-bg.jpg') no-repeat center center
    fixed;
  background-size: cover;

  &__logo {
    margin-top: 100px;
    font-size: 3rem;
    font-weight: 700;
  }

  &__info {
    margin-top: 20px;
    font-weight: 700;
  }

  &__start {
    // position: absolute;
    // top: 40%;
    // // left: 50%;
    font-size: 2rem;
    // left: 0;
    // right: 0;
    margin: 30px auto 0;

    // width: 100px;
  }
}
