.word-card {
  display: inline-block;
  height: 9.5%;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid black;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  align-items: center;
  line-height: 3rem;
  user-select: none;
  background-size: 900px 600px;
  background-repeat: no-repeat;
  box-shadow: inset 2px 2px 5px #38373680, 1px 1px 5px #ffffff;

  @extend %transition;

  &__moveable {
    cursor: pointer;

    &:hover {
      border-color: #f3ef1d;
    }
  }

  &__preview {
    border-color: #68f3f8;
  }

  &__wrong {
    border-color: #ff0000;
  }

  &__right {
    border-color: #00ff00;
  }

  &__mounted {
    border-color: #665dbb;
  }

  &__hide {
    max-width: 0;
    max-height: 0;
    margin: 0;
    opacity: 0;
    font-size: 0;
    overflow: hidden;
  }

  &__hide-image {
    background-image: 'url()';
  }
}
