@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import 'bulma/bulma.sass';
@import 'constants';
@import 'placeholders';
@import '_mixins';
@import 'base';
@import 'startpage';
@import 'header';
@import 'main';
@import 'game';
@import 'wordCard';
