// colors
$color-main: #78c2ad;
$color-second: #78c2ad;
$color-link: #b95438;
$color-link-active: #ffffff;
$color-burger: #000000;
$color-shadow: #000000;
// $color-gradient1:#20c997;
// $color-gradient2: #fd7e14;
$color-gradient1: #d4fc79;
$color-gradient2: #96e6a1;
$color-play1: #d4fc79;
$color-play2: #FF7851;
$color-border2: #ffffff;


$color-background-card: #ffffff;
$color-rotate-card: #a455fd;
$color-correct: #00ff40;


// elements size
$container-size-l: 1020px;
$menu-width: 250px;